h2 {
  color: yellow;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

.user-text {
  color: rgb(255, 255, 255);
  font-weight: 1000;
  
}

.user-box {
  padding: 6px 12px;
  background-color: #14335f4f;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}


.dialog-buttons p-button {
  margin-left: 1rem; 
}



button {
  
  right: auto;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #681fe7 !important; /* roxo */
  border-color: #8265b4 !important;
  color: #fff !important;
}

.btn-animated {
  background: linear-gradient(135deg, #0fd4ee9a, #5021be) !important;
  border: none !important;
  color: white !important;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
}

.btn-animated:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 15px 30px rgba(139, 92, 246, 0.4);
}

.btn-animated:active {
  transform: scale(0.97);
}

.form-control {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 19px;
  width: 12%;
  box-sizing: border-box;
  margin-top: 5px;
  margin:5px;
  
}

.search-by-age {
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 19px;
  width: 12%;
  box-sizing: border-box;
  margin-top: 5px;
  margin:5px;
}

.search-by-name {
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 19px;
  width: 12%;
  box-sizing: border-box;
  margin-top: 5px;
  margin:5px;
}

.users {
  margin-top: 15px;
  color: #ffffff;
  
}

.special-button {
  width: 350px;               /* ширина кнопки */
  height: 20px;               /* высота кнопки */
  padding: 12px 24px;         /* внутренние отступы */
  font-size: 16px;             /* размер текста */
  border-radius: 10px;  
  gap: 1.5rem;   
  
  
      

  background: linear-gradient(135deg, #0fd4ee9a, #792c68) !important;
  color: white !important;
  border: none !important;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
  transition: all 0.3s ease;
}

.special-button:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 15px 30px rgba(139, 92, 246, 0.4);
}

.special-button:active {
  transform: scale(0.97);
}

.dialog-buttons {
  display: flex;
  justify-content: flex-end; // прижать кнопки к правому краю
  gap: 1.5rem;         
  margin-top: 1.5rem;      // расстояние между кнопками
}


.edit-button {
   width: 150px;       /* ширина кнопки */
  height: 20px;       /* высота кнопки */
  padding: 10px 20px;      /* внутренние отступы */
  font-size: 16px;           /* размер текста */
  border-radius: 6px;  
  gap: 1.5rem;   
  text-align: left;
  
  
      

  background: linear-gradient(135deg, #0fd4ee9a, #792c68) !important;
  color: white !important;
  border: none !important;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
  transition: all 0.3s ease;
}

