h2 {
  color: yellow;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

.user-text {
  color: rgb(255, 255, 255);
  font-weight: 1000;
  
}

.user-box {
  padding: 6px 12px;
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}


.dialog-buttons p-button {
  margin-left: 1rem; 
}





.form-control {
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 19px;
  width: 12%;
  box-sizing: border-box;
  margin-top: 5px;
  margin:5px;
  
}

.search-by-age {
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 19px;
  width: 12%;
  box-sizing: border-box;
  margin-top: 5px;
  margin:5px;
}

.search-by-name {
  padding: 7px;
  border: 1px solid #ffffff;
  border-radius: 19px;
  width: 12%;
  box-sizing: border-box;
  margin-top: 5px;
  margin:5px;
}

.users {
  margin-top: 15px;
  color: #ffffff;
  
}



.dialog-buttons {
  display: flex;
  justify-content: flex-end; // прижать кнопки к правому краю
  gap: 1.5rem;         
  margin-top: 1.5rem;      // расстояние между кнопками
}




