<h2>Users</h2>
<input
  type="text"
  placeholder="Search by name or age"
  [(ngModel)]="searchText"
  
/>
<p>{{ searchText }}</p>
<input
  type="text"
  placeholder="Name"
  [(ngModel)]="newUserName"
/>

<input
  type="number"
  placeholder="Age"
  [(ngModel)]="newUserAge"
/>

<button (click)="addUser()">Add user</button>




<ul>
  <li *ngFor="let user of users; index as i">
    {{ i + 1 }}. {{ user.name }} — {{ user.age }} years
    <button (click)="removeUser(i)">Remove</button>
  </li>
</ul>

