h2 {
  color: yellow;
}

ul {
  padding-left: 20px;
}

li {
  margin: 5px 0;
}

button {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #7c3aed !important; /* roxo */
  border-color: #7c3aed !important;
  color: #fff !important;
}
p-button {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #7c3aed !important; /* roxo */
  border-color: #7c3aed !important;
  color: #fff !important;
}
