<!-- ================================================= -->
<!-- # TÍTULO -->
<!-- ================================================= -->
<h2 class="users">Users</h2>
<!-- ================================================= -->
<!-- # BOTÃO ADICIONAR USUÁRIO -->
<!-- ================================================= -->
<button
  type="button"
  pButton
  label="Add user"
  icon="pi pi-user-plus"
  class="btn-animated special-button"
  (click)="showDialog()">
</button>
<!-- ================================================= -->
<!-- # DIALOG ADD USER -->
<!-- ================================================= -->
<p-dialog
  header="Add User"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem' }">

  <span class="p-text-secondary block mb-4">
    Enter user information
  </span>

  <div class="flex flex-column gap-3 mb-4">
    <input
      pInputText
      type="text"
      placeholder="Name"
      [(ngModel)]="newUserName" />

    <input
      pInputText
      type="number"
      placeholder="Age"
      [(ngModel)]="newUserAge" />
  </div>

<div class="dialog-buttons">
  <p-button label="Cancel" severity="secondary" (onClick)="visible = false"></p-button>
  <p-button label="Save" (onClick)="addUser(); visible = false"></p-button>
</div>

</p-dialog>

<!-- ================================================= -->
<!-- # FILTROS DE PESQUISA -->
<!-- ================================================= -->
<div class="search-filters">
  <input
    class="search-by-name"
    type="text"
    placeholder="Search by name"
    [(ngModel)]="searchName"
  />

  <input
    class="search-by-age"
    type="number"
    placeholder="Search by age"
    [(ngModel)]="searchAge"
  />
</div>

<!-- ================================================= -->
<!-- # TABELA DE USUÁRIOS -->
<!-- ================================================= -->
<p-table
  class="users-table"
  [value]="filteredUsers"
  *ngIf="filteredUsers.length > 0; else noResultsTable">

  <ng-template pTemplate="header">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user let-i="rowIndex">
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.age }}</td>
      <td>
        <button
          type="button"
          pButton
          label="Remove"
          icon="pi pi-trash"
          class="btn-animated"
          (click)="confirmRemoveUser($event, user)">
        </button>
<!-- ===========EDITAR -->
        <button
          type="button"
          pButton
          label="Edit"
          icon="pi pi-trash"
          class="btn-animated edit-button"
          (click)="editarUtilizador(user)">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<ng-template #noResultsTable>
  <p style="opacity: 0.6;">Nothing found.</p>
</ng-template>

<p-toast></p-toast>

<p-confirmDialog>
  <ng-template #message let-message>
    <div class="dialog-message">
      <i
        [ngClass]="message.icon"
        class="!text-6xl text-red-500">
      </i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>


<!-- Edit User Dialog -->
<p-dialog header="Edit User" [(visible)]="editDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
  <div class="flex flex-column gap-3 mb-4">
    <input
      pInputText
      type="text"
      placeholder="Name"
      [(ngModel)]="editUserName" />

    <input
      pInputText
      type="number"
      placeholder="Age"
      [(ngModel)]="editUserAge" />
  </div>

  <div class="dialog-buttons">
    <p-button label="Cancel" severity="secondary" (onClick)="editDialogVisible = false"></p-button>
    <p-button label="Save" (onClick)="guardarEdicao()"></p-button>
  </div>
</p-dialog>





