

.button-wrapper { 
    width: 100%;
    display: flex;  
    justify-content: bottom-right;  
    margin-bottom: 2rem;
}



.dialog-buttons {
  width: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.addticket {
    display: flex;
    align-items: right;
    justify-content: right;
    
    
}

.list-container{
  background-color: rgba(119, 122, 122, 0.089);
  color: black;   
  padding: 0.25rem 0.9rem; /* меньше отступы */
  font-size: 1rem;      /* меньше текст */
  width: 40%;
  margin: 30px auto;
  
}



.titlist{
  margin-left: 20px;
  margin-top: 5px;
  padding: 0.25rem 0.9rem;
  width: 40%;
  margin: 30px auto;
}





:host ::ng-deep .small-dropdown .p-dropdown-panel {
  margin-top: 1px; }

  .inputlist{
      padding: 6px 12px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 5px;
  }

.list-header {
  display: flex;
  justify-content: space-between; /* Делает пространство между названием и правым блоком */
  align-items: center;           /* Вертикальное выравнивание по центру */
}

.list-right {
  display: flex;
  gap: 3rem; /* Расстояние между description и ProdutoId */
}

.list-name {
  margin: 0; /* Убираем стандартные отступы h3 */
}

.list-description{
color:rgba(126, 126, 126, 0.76)

}
.list-prodid {
  white-space: nowrap; /* Чтобы текст не переносился */
  color: green;
  font-weight: bold;     /* жирный */
  font-size: 16px;       /* размер шрифта */
  text-transform: uppercase;  /* все буквы заглавные */
}




.remove-btn-container {
    display: flex;
    justify-content: flex-start; /* прижимает содержимое к правому краю */
    width: 100%;
}

.button-edit{
   margin-top: -0.75rem;
}