@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";




.p-button {
  
  
  
  padding: 10px 24px;
  text-align: center;
 
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}


