@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";





button.p-button {
  background: linear-gradient(135deg, #0fd4ee9a, #5021be) !important;
  border: none !important;
  color: white !important;
  transition: all 0.3s ease;
  box-shadow: 0 10px 20px rgba(99, 102, 241, 0.3);
   width: 150px;       /* ширина кнопки */
  height: 20px;       /* высота кнопки */
  padding: 10px 20px;
  
}

button.p-button:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 15px 30px rgba(139, 92, 246, 0.4);
}

button.p-button:active {
  transform: scale(0.97);
}



